@charset "UTF-8";

.ph-button {
	
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;	   
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 600;	
    padding: 10px 90px 10px;
    font-size: 18px;
    margin-top: 20px;
    margin-left:-10px;
	
}
#userId{
	margin-bottom:5px;
	
}

/*Grey
==========================*/
.ph-btn-grey {
     width: 310px;
    
    
     background-color: #C6CCD2;
     border-color: #AAB3BB;
}
.ph-btn-grey:hover, .ph-btn-grey:focus, .ph-btn-grey:active {
    background-color: #B8BFC7;
    border-color: #AAB3BB; 
}


/*DEMO ONLY FOR CENTER POSITION*/
.ph-container {
  
  margin: 0 auto;
  display: inline;

  
}

.ph-float {
  
  float: left;
  width: 22%;
  padding: 10px;  
  padding-top: 50px;  
  text-align: center;

}

.ph-clear {
  
  clear: both;
   
}
